{% extends "main-layout.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="column" style="margin-top: 10%">
        <h2>About the KPI Data Assessment</h2>
        <h5>Why am I being asked to complete this survey?</h5>
        <p>answer goes here</p>
        <h5>What are you going to ask me about?</h5>
        <p>answer goes here</p>
        <h5>Who is leading this project? What's it all about?</h5>
        <p>answer goes here</p>
        <h5>Who do I contact if I have questions?</h5>
        <p>answer goes here</p>
      </div>
    </div>
  </div>

  <div class="container">
    
  </div>

{% endblock %}