{% extends "main-layout.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="two-thirds column" style="margin-top: 10%">
        <h3>Welcome!</h3>
        <p>This temporary website is part of a City of Austin open data project. It's for helping staff gather information about the City's data resources. Complete documentation about the entire project can be found <a href="http://open-data-sprints.readthedocs.io/en/latest/project-open-data-plans.html">here.</a></p>

        <h5>Who is this site for?</h5>
        <ul>
          <li>City staff who have been tasked with completing surverys.</li>
          <li>Project staff who are supporting survey takers.</li>
          <li>Anyone who loves Austin and/or has interest in watching this project unfold.</li>
        </ul>

        <h5>What's this project all about?</h5>
        <p>We want to discover more open data resources... so we got a list of 211 Department Key Performance Indicators (KPIs) from Financial Services and created surveys with them. We hope for two main outcomes; that the Open Data Initiative would uncover new open data opportunities to pursue, and the Performance Office would gain new information about how departments prepare specific performance measures. The data we collect will be shared and made available for public download by project end.</p>

        <h5>Where will the survey results be published?</h5>
        <p>Probably in a number of places which have yet to be determined. In the meantime, all project code and working datasets can be found on at this project's github <a href="https://github.com/cityofaustin/kpi-data-dashboard/tree/master/data">repo.</a> We will deliver more direct links to the final results dataset by project end, which will be November 14, 2016. </p>


        <h5>I am a web designer and I'd like to volunteer to make this site better.</h5>
        <p>Awesome! Our progress tables could use some color ;-) Find the code <a href="https://github.com/cityofaustin/kpi-data-dashboard">here</a> and send us a pull request!</p>

        <h5>What will happen to this site when the project is over?</h5>
        <p>So far, we don't have plans to host this site after the project is completed. However, the source code used to create this site, along with the data we collected, will continue to be available for public review and download on <a href="https://github.com/cityofaustin/kpi-data-dashboard">github</a>.</p>


        <!-- <p style="color: red;">This page needs content! Help write it by contributing <a target='_blank' href="https://github.com/cityofaustin/kpi-data-dashboard/issues/5">here</a>.</p> -->
      </div>
    </div>
  </div>

  <div class="container">
    <p></p>
  </div>

{% endblock %}