{% extends "main-layout.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 10%">
        <h3>KPI Data Assessment</h3>
        <h4>Progress Tracker</h4>
        <p>This is where a description about the project will go.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <table>
      <tr>
        <th>department</th>
        <th># measures</th>
        <th>status</th>
      </tr>
      {% for i in depts['current_stats'] %}
      <tr>
        <td>{{i['dept_name']}}</td>
        <td>{{i['num_measures']}}</td>
        <td>{{i['status']}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

{% endblock %}