<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>KPI Data Assessment</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!--   <link rel="icon" type="image/png" href="images/favicon.png"> -->

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <nav class="navbar">
    <div class="container">
    <h5 class="navbar-item"><a href="{{ url_for('index') }}" class="title navbar-link">KPI Data Assessment</a></h5>

    <a class="navbar-link" style="color:red;"> TEST VERSION</a>
    
    <ul class="navbar-list">
      <li class="navbar-item"><a class="navbar-link" href="{{ url_for('index') }}">About</a></li>
      <li class="navbar-item"><a class="navbar-link" href="{{ url_for('progress') }}">Progress report</a></li>
      <li class="navbar-item"><a class="navbar-link" href="{{ url_for('participate') }}">Take surveys</a></li>
      <li class="navbar-item"><a class="navbar-link"  href="{{ url_for('help') }}">Help!</a></li>
    </ul>
    </div><!--container-->
  </nav>

  {% block content %}
  {% endblock %}

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>  
  <script type="text/javascript">
    function scrollTo(target){
        var targetPosition = $(target).offset().top;
        $('html,body').animate({ scrollTop: targetPosition}, 'slow');
    }
</script>
</body>
</html>
