{% extends "main-layout.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="column" style="margin-top: 10%">
      <p style="color: red;">Help write the content for this page by contributing <a target='_blank' href="https://github.com/cityofaustin/kpi-data-dashboard/issues/13">here</a>.</p>
        <h3>Have you been <em>chosen</em>... <br/> to take the KPI surveys?</h3>
        <h5>Here are your steps:</h5>
        <ol>
          <li>First thing to do...</li>
          <li>Second thing to do...</li>
          <li>Maybe some other things...</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="container">
    <form action="">
      <h6>Jump to your department:</h6>
        <select id="dept" onChange="scrollTo(this.value)">
        {% for k,v in measures.items() | sort %}
          <option value="#{{v[0]['dept_short']}}">{{k}}</option> | 
        {% endfor %}
        </select> 
    </form>
  </div>


  <div class="container">
    {% for k,v in measures.items() | sort %}
    <h4 id="{{v[0]['dept_short']}}">{{k}}</h4>
      <table style="width: 100%;">
        <tr>
          <th>id</th>
          <th>survey</th>
          <th>status</th>
        </tr>
        {% for j in v %}
        <tr>
          <td>{{j['id']}}</td>
          <td style="width: 70%;"><a href="{{j['url']}}">{{j['MEASURE_NAME']}}</a></td>
          <td>{{j['status']}}</td>
        </tr>
        {% endfor %}
    </table>
    <a class="top" href="#">back to top</a>
    {% endfor %}
  </div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>  
<script type="text/javascript">
    function scrollTo(target){
        var targetPosition = $(target).offset().top;
        $('html,body').animate({ scrollTop: targetPosition}, 'slow');
    }
</script>

{% endblock %}