{% extends "main-layout.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="column" style="margin-top: 10%">
      <p style="color: red;">Help write the content for this page by contributing <a target='_blank' href="https://github.com/cityofaustin/kpi-data-dashboard/issues/13">here</a>.</p>
        <h3>Have you been <em>chosen</em>... <br/> to take the KPI surveys?</h3>
        <h5>Here are your steps:</h5>
        <ol>
          <li>First thing to do...</li>
          <li>Second thing to do...</li>
          <li>Maybe some other things...</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="container">
    <h6>Jump to your department:</h6>
    <div>
      <p>
      {% for k,v in measures.items() | sort %}
      <a href="#{{v[0]['dept_short']}}">{{k}}</a> | 
      {% endfor %}
      </p>
    </div>
  </div>

  <div class="container">
    {% for k,v in measures.items() | sort %}
    <h4 id="{{v[0]['dept_short']}}">{{k}}</h4>
      <table style="width: 100%;">
        <tr>
          <th>id</th>
          <th>survey</th>
          <th>status</th>
        </tr>
        {% for j in v %}
        <tr>
          <td>{{j['id']}}</td>
          <td style="width: 70%;"><a href="{{j['url']}}">{{j['MEASURE_NAME']}}</a></td>
          <td>{{j['status']}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
  </div>


{% endblock %}