{% extends "main-layout.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 10%">
      <p style="color: red;">Help write the content for this page by contributing <a target='_blank' href="https://github.com/cityofaustin/kpi-data-dashboard/issues/14">here</a>.</p>
        <h4>Progress Tracker</h4>
      </div>
    </div>
  </div>

  <div class="container">
    <table>
      <tr>
        <th>department</th>
        <th># measures</th>
        <th># completed</th>
        <th>status</th>
      </tr>
      {% for k,v in depts|dictsort %}
      <tr>
        <td>{{k}}</td>
        <td>{{v['num_measures']}}</td>
        <td>{{v['num_verified']}}</td>
        <td>{{v['status']}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

{% endblock %}